<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\aspnet-MvcTIC-IT-2012411185540.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True" providerName="System.Data.SqlClient" />
    <!--data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\World.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework-->
    <!--Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-MvcTIC-IT-2012411185540;Integrated Security=True-->
  </connectionStrings>
  <appSettings>
    <add key="pagSize" value="2" />
    <add key="SMTP" value="mail.dinispt.com" />
    <add key="SMTP_AUTENTICATION" value="true" />
    <add key="FROMEMAIL" value="pedro@uuuu.com" />
    <add key="FROMPWD" value="password" />
    <add key="SMTP_SSL" value="false" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" />
    <authentication mode="Forms">
      <forms loginUrl="~/pt-PT/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
      <providers>
        <add connectionStringName="DefaultConnection" applicationName="/" name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.41.4378.21434" newVersion="4.41.4378.21434" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicePortugal" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IServiceAlemanha" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IServiceFrance" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IServiceUK" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IServiceWorld" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IServiceEspanha" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:53909/ServicePortugal.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicePortugal"
        contract="ServiceRefPortugal.IServicePortugal" name="BasicHttpBinding_IServicePortugal" />
      <endpoint address="http://localhost:53929/ServiceAlemanha.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceAlemanha"
        contract="ServiceRefAlemanha.IServiceAlemanha" name="BasicHttpBinding_IServiceAlemanha" />
      <endpoint address="http://localhost:53914/ServiceEspanha.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceEspanha"
        contract="ServiceRefEspanha.IServiceEspanha" name="BasicHttpBinding_IServiceEspanha" />
      <endpoint address="http://localhost:53919/ServiceFrance.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceFrance"
        contract="ServiceRefFrance.IServiceFrance" name="BasicHttpBinding_IServiceFrance" />
      <endpoint address="http://localhost:53924/ServiceUK.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServiceUK" contract="ServiceRefUK.IServiceUK"
        name="BasicHttpBinding_IServiceUK" />
      <endpoint address="http://localhost:53934/ServiceWorld.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IServiceWorld" contract="ServiceRefWorld.IServiceWorld"
        name="BasicHttpBinding_IServiceWorld" />
    </client>
  </system.serviceModel>
</configuration>